ul li a {
  color: white !important;
}
/* a:hover {
  color: brown !important;
} */
.logoPart {
  text-align: center;
}
h2 {
  width: fit-content;
}
.backBanner {
  background-color: blueviolet !important;
}
.booksMargin {
  margin: 5px 5px 5px 5px;
}

.fa:hover {
  opacity: 0.7;
}

.logodark {
  color: white;
  margin-left: 0.8em;
}
.logodark a:hover {
  color: black;
}
.firstlink {
  margin-left: 0em !important;
}
