ul li a {
  color: white !important;
}
a:hover {
  color: brown !important;
}
.logoPart {
  text-align: center;
}
h2 {
  width: fit-content;
}
.booksMargin {
  margin: 5px 5px 5px 5px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}
